*.o
ccccdist/cccc/CLexer.*
ccccdist/cccc/CParser.*
ccccdist/cccc/Ctokens.h
ccccdist/cccc/JLexer.*
ccccdist/cccc/JParser.*
ccccdist/cccc/Jtokens.h
ccccdist/cccc/cccc
ccccdist/cccc/cccc.cpp
ccccdist/cccc/java.cpp
ccccdist/cccc/parser.dlg
ccccdist/pccts/bin
ccccdist/test/prn*.db
ccccdist/test/prn*.xml
ccccdist/test/prn*.html
ccccdist/test/test*.db
ccccdist/test/test*.xml
ccccdist/test/test*.html
ccccdist/test/.cccc

